<mat-sidenav-container class="sidenav-container"
                       [ngClass]="{'sidenav-expanded': showFullNavigation,
                        'sidenav-menu-expanded': showNavigationMenu, 'link-expanded': showLink}">
  <mat-sidenav-content>
    <!-- Header Toolbar -->
    <mat-toolbar color="primary">
      <!--<button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>-->
      <span>
        <a href="#" class="dashboard-logo-link"><img src="assets/dashboard_images/research_admin_logo_4.png" class="dashboard-logo"></a>
      </span>
      <mat-slide-toggle
        class="toggle-menu"
        [color]="slideColor"
        (change)="toggle($event)" [checked]="showFullNavigation">
      </mat-slide-toggle>
      <!--<span class="search-icon-span">
        <i class="feather icon-search"></i>
      </span>-->
      <a class="quick-links" href="https://www.cibc.com">CIBC</a>
      <a class="quick-links" href="https://www.cibc.com">Authoring</a>
      <div class="row search-container">
        <!--<div class="col-12 col-sm-12 col-md-3 col-lg-3 search-on-desktop" *ngFor="let item of searchItems">
        </div>-->
      </div>
      <div class="right-side-menu">
        <!--<a href="javascript:" appFullScreen>
          <i class="feather icon-maximize full-screen"></i>
        </a>
        <a href="javascript:">
          <i class="feather icon-bell" matBadge="5" matBadgeColor="warn"></i>
        </a>-->
        <!--<mat-menu #menu="matMenu">
          <div mat-menu-item class="text-center">
            You have <span class="notification-number">{{notifications.length}}</span> new notifications.
            <button class="clear-all btn-sm" *ngIf="notifications.length" (click)="clearAllNotifications()">Clear All
            </button>
          </div>
          <div mat-menu-item *ngFor="let notification of notifications">
            <div class="notification">
              <div [innerHTML]="notification.message"></div>
              <i class="icofont icofont-ui-delete close-notification"
                 (click)="deleteNotification($event, notification)"></i>
            </div>
          </div>
        </mat-menu>-->
        <!--<a href="javascript:">
          <i class="feather icon-message-square" matBadge="3" matBadgeColor="warn"></i>
        </a>-->
        <a href="javascript:" [matMenuTriggerFor]="menuLogin">
          <!--<img src="assets/dashboard_images/Vic.png" class="img-radius" alt="User-Profile-Image">-->
          <span class="mr-1">Victor Dodig</span>
          <i class="feather icon-chevron-down"></i>
        </a>
        <mat-menu #menuLogin="matMenu" class="user-menus">
          <div mat-menu-item>
            <i class="feather icon-log-out logout-icon"></i>Logout
          </div>
        </mat-menu>
      </div>
    </mat-toolbar>
    <!-- Header Toolbar End-->
    <div class="dashboard-side-nav">
      <div class="main-menu-header">
        <div class="user-details"><h6 class="m-t-20 m-b-20 app-logo-heading">Research Admin</h6><img
          class="img-menu-user" alt="User-Profile-Image" src="assets/dashboard_images/RA_logomark_2.png">
        </div>
      </div>
      <ul class="nav flex-column">
        <li class="nav-item menu-link-list" *ngFor="let item of menuItems"
            [ngClass]="{'active': item.active || item.clicked || item.id === router.url}">
          <div class="menu-link"
            (click)="openSubmenu(item)">
            <i class="{{item.icon}}" [ngClass]="{'active': item.id === router.url}"></i>
            <a class="toggle-link toggle-link-span" [routerLink]=[item.id]
               [ngClass]="{'toggle-link-expanded': item.clicked, 'toggle-link-closed': !item.clicked}"
               *ngIf="item.link">{{item.title}}</a>
            <!--<form class="toggle-link toggle-link-form"
                  [ngClass]="{'toggle-link-expanded': item.clicked, 'toggle-link-closed': !item.clicked}"
                  *ngIf="item.searchable" action="" (submit)="goToPage(item.id)">
              <div class="form-group">
                <input type="text" class="form-control"
                       placeholder="{{item.title}}" (focus)="onFocusSearchInput($event, item)"
                       (blur)="onFocusSearchInput($event, item)">
                <i class="icofont icofont-search search-icon" (click)="goToPage(item.id)"></i>
              </div>
            </form>-->
            <div class="toggle-link submenu"
                 [ngClass]="{'toggle-link-expanded': item.clicked, 'toggle-link-closed': !item.clicked}"
                 *ngIf="item.links">
              <a class="submenu-link" *ngIf="item.submenu"
                 [ngClass]="{'clicked': item.clicked}">{{item.title}}
                <i class="feather icon-chevron-right submenu-icon"></i>
              </a>
              <!--<a class="submenu-link" *ngIf="item.submenuWithSearch">
                <form class="toggle-link toggle-link-form"
                      [ngClass]="{'toggle-link-expanded': item.clicked, 'toggle-link-closed': !item.clicked}"
                      action="" (submit)="goToPage(item.id)">
                  <div class="form-group">
                    <input type="text" class="form-control"
                           placeholder="{{item.title}}" (focus)="onFocusSearchInput($event, item)"
                           (blur)="onFocusSearchInput($event, item)" (keyup)="onChangeSubmenuWithSearch($event, item)">
                    <i class="icofont icofont-search search-icon" (click)="goToPage(item.id)"></i>
                  </div>
                </form>
              </a>-->
            </div>
          </div>
          <ul class="submenu-list" [ngClass]="{'shown': item.clicked && item.links}">
            <li class="nav-item menu-link-list" *ngFor="let submenu of item.links"
                (click)="onSublinkCliked($event, submenu)"
                [routerLink]=[submenu.id]
                [ngClass]="{'active': submenu.clicked}">
              <a class="child-link"><i class="{{submenu.icon}}"></i> <span class="submenu-link-span">{{submenu.title}}</span> </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
