<div class="mat-app-background basic-container">
  <app-main-nav class="app-dark-theme">
    <div class="app-page">
      <app-breadcrumbs></app-breadcrumbs>
      <!--<div class="over-breadcrumb-section">
        <router-outlet></router-outlet>
      </div>-->
      <div class="over-breadcrumb-section router-container" >
        <main [@fadeAnimation]="getRouterOutletState(o)">
          <router-outlet #o="outlet"></router-outlet>
        </main>
      </div>
    </div>
  </app-main-nav>
</div>
