.align-col {

}

::ng-deep {
  .left-col {
    padding-right: 0;
  }

  .right-col {
    padding-left: 0;
  }

  .dummy-padding{
    padding-top: 6px !important;
  }
}

.not-visible{
  visibility: hidden;
}
