<div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 first-grid-col">
      <app-card [title]="'Create New Podcast'" [noActions]="true" class="table-card detailed-card">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6">
            <div class="row mt-2 center-h">
              <div class="col-5 align-right">
                Headline
              </div>
              <div class="col-7 pl-0">
                <input type="text" class="app-text-box"
                       placeholder=""/>
              </div>
            </div>
            <div class="row mt-2 center-h">
              <div class="col-5 align-right pl-0">
                Summary for Research Central
              </div>
              <div class="col-7 pl-0">
                <input type="text" class="app-text-box"
                       placeholder=""/>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-5 align-right pl-0">
                Description
              </div>
              <div class="col-7 pl-0">
                  <textarea type="text" class="app-text-box" rows="4"
                            placeholder="Keywords (Analysts, tickers, company names, and any other Relevant Keywords.">
                  </textarea>
              </div>
            </div>
            <div class="row mt-2 center-h">
              <div class="col-5 align-right pl-0">
                Image
              </div>
              <div class="col-7 pl-0">
                <input type="file" #uploadedImage accept="image/*"
                       (change)="handleUpload($event.target.files)" [name]="'Browse...'"/>
              </div>
            </div>
            <div class="row mt-2 center-h">
              <div class="col-5 align-right pl-0">
              </div>
              <div class="col-7 pl-0">
                <button mat-raised-button class="app-button btn btn-sm" (click)="uploadDocument()">Upload</button>
              </div>
            </div>
            <div class="row mt-2 center-h" [ngClass]="{'hidden': !showUploadWarning}">
              <div class="col-5 align-right pl-0">
              </div>
              <div class="col-7 pl-0">
                <span class="app-warning-text">Please wait while the upload is in progress...</span>
              </div>
            </div>

            <div class="row mt-2 center-h">
              <div class="col-5 align-right pl-0">

              </div>
              <div class="col-7 pl-0">
                <mat-radio-group aria-label="Select an option" [(ngModel)]="sectorOrIndustry">
                  <mat-radio-button class="pr-2 app-radio mr-lg-4" value="1" [checked]="true">Company Podcast
                  </mat-radio-button>
                  <mat-radio-button class="app-radio" value="2">Industry Podcast</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="row mt-2 center-h">
              <div class="col-5 align-right pl-0">
                Publication ID for Related Report
              </div>
              <div class="col-7 pl-0">
                <input type="text" class="app-text-box"
                       placeholder=""/>
              </div>
            </div>

          </div>
          <div class="col-12 col-sm-6 col-md-6">
            <div class="row">
              <div class="col-12 align-col">
                <app-select-and-move [leftItems]="leftItems"
                                     [rightItems]="rightItems"
                                     [leftTitle]="leftTitle"
                                     [rightTitle]="rightTitle"
                ></app-select-and-move>
              </div>
            </div>
          <div class="row mt-lg-4">
              <div class="col-12 align-col">
                <app-select-and-move [leftItems]="leftItems2"
                                     [rightItems]="rightItems2"
                                     [leftTitle]="leftTitle2"
                                     [rightTitle]="rightTitle2"
                ></app-select-and-move>
              </div>
            </div>
          <div class="row mt-lg-4">
              <div class="col-12 align-col">
                <app-select-and-move [leftItems]="leftItems3"
                                     [rightItems]="rightItems3"
                                     [leftTitle]="leftTitle3"
                                     [rightTitle]="rightTitle3"
                ></app-select-and-move>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-lg-4 ">
          <div class="col-12 align-right">
            <button mat-raised-button class="app-button mr-2">Preview</button>
            <button mat-raised-button class="app-button mr-2" (click)="savePodCast()">Save</button>
            <button mat-button class="app-cancel-button mr-2" (click)="newPodcastModal.hide()">Cancel</button>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</div>

<!--
<div class="modal fade" bsModal #newPodcastModal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="dialog-events-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">New Podcast</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="newPodcastModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mt-2">
          <div class="col-12">
            <input type="text" class="app-text-box" [(ngModel)]="selectedPodcast.headline"
              placeholder="Headline"   />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <input type="text" class="app-text-box" [(ngModel)]="selectedPodcast.sectors"
                   placeholder="Summary for Research Central"   />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <textarea type="text" class="app-text-box" [(ngModel)]="selectedPodcast.analyst" rows="2"
                   placeholder="Keywords (Analysts, tickers, company names, and any other Relevant Keywords." >
            </textarea>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-12">
            <input type="file" #uploadedImage accept="image/*"
                   (change)="handleUpload($event.target.files)" [name]="'Browse...'"/>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-12 align-right">
            <button mat-raised-button class="app-button btn btn-sm" (click)="uploadDocument()">Upload</button>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-12 align-right">
            <span class="app-warning-text" [ngClass]="{'hidden': !showUploadWarning}">Please wait while the upload is in progress...</span>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-12">
            <mat-radio-group aria-label="Select an option" [(ngModel)]="sectorOrIndustry">
              <mat-radio-button class="pr-2 app-radio mr-lg-4" value="1" [checked]="true">Company Podcast</mat-radio-button>
              <mat-radio-button class="app-radio" value="2">Industry Podcast</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-12">
            <input type="text" class="app-text-box" [(ngModel)]="selectedPodcast.ffff"
                   placeholder="Publication ID for related report"   />
          </div>
        </div>

      </div>
      <div class="row mt-2 modal-action-row">
        <div class="col-12">
          <button mat-raised-button class="app-button mr-2">Preview</button>
          <button mat-raised-button class="app-button mr-2" (click)="savePodCast()">Save</button>
          <button mat-raised-button class="app-cancel-button mr-2" (click)="newPodcastModal.hide()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
-->
