<div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 first-grid-col">
      <app-card [title]="'Image Upload'" [noActions]="true" class="table-card">
        <div class="row">
          <div class="col-12">
            <div class="mb-2">
              Add or Change and Image
            </div>
            <button mat-raised-button class="app-button mr-2" (click)="openAnalystModal()">Analyst</button>
            <button mat-raised-button class="app-button" (click)="openModal()">Sector / Industry</button>
          </div>
        </div>

      </app-card>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #modal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="dialog-events-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">Image upload for Sector / Industry</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mt-2">
          <div class="col-2 align-right">
            Image For:
          </div>
          <div class="col-10 pl-0 pr-0">
            <mat-radio-group aria-label="Select an option" [(ngModel)]="sectorOrIndustry">
              <mat-radio-button class="pr-2 app-radio" value="1" [checked]="true">Sector</mat-radio-button>
              <mat-radio-button class="app-radio" value="2">Industry</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2 center-h">
            Sector:
          </div>
          <div class="col-4 pl-0">
            <select class="form-control form-control-sm" [disabled]="sectorOrIndustry === '2'">
              <option>select sector</option>
            </select>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2 center-h">
            Industry:
          </div>
          <div class="col-4 pl-0">
            <select class="form-control form-control-sm" [disabled]="sectorOrIndustry === '1'">
              <option>select Industry</option>
            </select>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2 align-right">
            Image:
          </div>
          <div class="col-8 pl-0">
            <input type="file" #uploadedImage accept="image/*"
                   (change)="handleUpload($event.target.files)" [name]="'Browse...'"/>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2 align-right">

          </div>
          <div class="col-2 pl-0">
            <img class="uploaded-image" [src]="imgUrl"/>
          </div>
        </div>
      </div>
      <div class="row mt-2 modal-action-row">
        <div class="col-2 align-right">
        </div>
        <div class="col-8 pl-0">
          <button mat-raised-button class="app-button" (click)="saveFootnote()">Upload</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #analystModal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="dialog-events-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">User Information</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="analystModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mt-2">
          <div class="col-2 align-right">
            First Name:
          </div>
          <div class="col-4 pl-0">
            <input type="text" class="app-text-box" [(ngModel)]="user.firstName"/>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2 center-h">
            Last Name:
          </div>
          <div class="col-4 pl-0">
            <input type="text" class="app-text-box" [(ngModel)]="user.lastName"/>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2 center-h">
            Phone:
          </div>
          <div class="col-4 pl-0">
            <input appPhoneMask class="app-text-box"
                   pattern="^\(([0-9]{3})\)[ ]([0-9]{3})[-]([0-9]{4})$" maxlength="14"
                   [(ngModel)]="user.phone" type="text"/>
            <!--<input type="text" class="app-text-box" [(ngModel)]="user.phone"/>-->
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2 center-h">
            E-mail:
          </div>
          <div class="col-4 pl-0">
            <input type="text" class="app-text-box" [(ngModel)]="user.email"/>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2 align-right">
            Image:
          </div>
          <div class="col-8 pl-0">
            <input type="file" #uploadedImage accept="image/*"
                   (change)="handleAnalystUpload($event.target.files)" [name]="'Browse...'"/>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2 "></div>
          <div class="col-8 pl-0">
            <img class="uploaded-image" [src]="analystImgUrl"/>
          </div>
        </div>
      </div>
      <div class="row mt-2 modal-action-row">
        <div class="col-2 align-right">
        </div>
        <div class="col-8 pl-0">
          <button mat-raised-button class="app-button" (click)="saveFootnote()">Upload</button>
        </div>
      </div>
    </div>
  </div>
</div>

