//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/dist/styles/ag-theme-dark.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham-dark.css";
@import "~ag-grid-community/dist/styles/ag-theme-fresh.css";

@import '~bootstrap/scss/bootstrap';


@import "styles/generic";
@import "styles/themes";


html, body{
  font-family: "Open Sans", sans-serif;
  height: 100%;
  margin: 0;
}

.sidenav-container{
  height: 100%;
}
