<div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 first-grid-col">
      <app-card [title]="'Apply Override'" [noActions]="true" class="table-card">
        <ag-grid-angular
          class="{{appliedThemeClassOnTable}}"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          [floatingFilter]="true"
          [animateRows]="true"
          [pagination]="true"
          [paginationPageSize]="selectedRowsPerPage"
          (gridReady)="onGridReady($event)"
          (firstDataRendered)="onFirstDataRendered($event)">
        </ag-grid-angular>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 pl-0">
          <button mat-raised-button class="app-button">Save</button>
        </div>
      </app-card>
    </div>

  </div>

  <div class="row mt-lg-4">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
      <app-card [title]="'Remove Override'" [noActions]="true" class="table-card">
        <ag-grid-angular
          class="{{appliedThemeClassOnTable}}"
          [rowData]="rowDataRemoved"
          [columnDefs]="columnDefsRemoved"
          [defaultColDef]="defaultColDef"
          [floatingFilter]="true"
          [animateRows]="true"
          [pagination]="true"
          [paginationPageSize]="selectedRowsPerPage"
          (gridReady)="onGridReady($event)"
          (firstDataRendered)="onFirstDataRendered($event)">
        </ag-grid-angular>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 first-grid-col pl-0">
          <button mat-raised-button class="app-button">Save</button>
        </div>
      </app-card>
    </div>

  </div>
</div>
